

p {
    background-color: aqua;
}
#para1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    text-align: center;
}
p.large{
    font-size: 40px;
}
h1,div{
    background-color: yellow;
} 

 /* body{
    background-color: pink;
    background-image: url(cssimages/sticket.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
}  */

.parent{
    background-color: powderblue;
    text-align: center;
}
.child{
    background-color: blueviolet;
    border-style: solid;
    border-width: 20px;
    border-color: rgb(47, 132, 103);

    outline-width:5px;
    outline-offset: 20px;
    outline-color: red;
    outline-style: solid;

    padding: 20px;
    margin: 40px;
}

p{
    background-color: rgb(236, 211, 171);
    font-size: 5vw;
}
img.top{
    vertical-align: top;
}
img.bottom{
    vertical-align: bottom;
}
img.sub{
    vertical-align: sub;
}
img.sup{
    vertical-align: super;
}


 .flex-container{
    display: flex;
 }